@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme{
  --color-background-main: #FFFFFF;
  --color-p1: #AE075A;
  --color-p2: #59072F;
  --color-p3: #8D677D;
  --color-p4: #A797A4;
  --color-p5: #CE0078;
  --color-s1: #C0C7CA;
  --color-s2: #919698;
  --color-s3: #616466;
  --color-black: #010101;

  --font-montserrat: Montserrat, sans-serif;
  --shadow-sm: 10px 0px 90px rgb(174, 7, 90), -10px 0px 90px rgb(174, 7, 90);
  --breakpoint-*: initial;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  --animate-gradient-blob: gradient-blob 7s infinite ;
 

  @keyframes gradient-blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    20% {
      transform: translate(30px,-50px) scale(1.2);
      
    }

    40% {
      transform: translate(-60px,80px) scale(1.2);
      
    }


    100% {
      transform: translate(0px, 0px) scale(1);
    }

  }

  --animate-fade-in: fade-in 2s;

  @keyframes fade-in{
    0%{ transform: translateY(20px); opacity:0;}
    
    100%{ transform: translate(0px); opacity:1;}
  }

  

  @keyframes appear-from-left{
    0%{
      opacity:0; 
      transform: translateY(-50px) scale(0.5);
    }

    100%{
      opacity:1;
      transform: translateY(0px) scale(1);
    }
  }

}

body{
    @apply min-h-screen bg-background-main font-montserrat
  
}


@utility nav-btn {
  @apply block relative border border-transparent  overflow-hidden rounded-full bg-gradient-to-br from-[#AE075A] md:via-[#f72585] to-[#59072F]  md:transition-all duration-200
} 

@utility nav-span{
  @apply flex items-center justify-center w-full h-full bg-white font-semibold rounded-full xl:px-6 xl:py-2 md:px-4 md:py-2 py-3 px-4 transition-all duration-200 hover:bg-gradient-to-br hover:from-[#AE075A] hover:to-[#59072F] hover:via-[#f72585] hover:text-white 
}

@utility sidebar{
  @apply fixed top-20 right-0 min-h-screen w-full bg-white z-2 
}

@utility scroll-appear {
    animation: appear-from-left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
